# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Secrets
.env

# macOS
.DS_Store
# AppleDouble resource forks (not source; created on some copies / foreign volumes)
._*

# Logs
*.log
smartguard.log

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# Model files
models/*.keras
models/*.h5

# Dataset files
deep_learning/data/raw/
deep_learning/data/processed/