# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Secrets
.env

# macOS
.DS_Store

# Logs
*.log

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# Model files
models/*.keras
models/*.h5

# Dataset files
deep_learning/data/raw/
deep_learning/data/processed/